.pagination {
	align-items: flex-start;
	display: flex;
	font-size: var(--font-size-3);
	margin-top: var(--size-8);
}

.paginationItem {
	background: transparent;
	color: var(--pagination-color);
	display: flex;
	flex: 0 0 50%;
	line-height: 1.2;
}

.arrow {
	align-items: center;
	align-self: center;
	display: flex;
	font-size: var(--font-size-6);
	height: 20px;
	transition: var(--transition-transform);
}

.next {
	composes: paginationItem;
	justify-content: flex-end;
	margin-left: auto;
	padding-left: var(--size-3);
	text-align: right;
}

.next .arrow {
	margin-left: var(--size-1);
}

.previous .arrow {
	margin-right: var(--size-1);
}

.next:hover .arrow {
	transform: translateX(8px);
}

.previous {
	composes: paginationItem;
	margin-right: auto;
	padding-right: var(--size-3);
}

.previous:hover .arrow {
	transform: translateX(-8px);
}
