.visuallyHidden {
	composes: visuallyHidden from '../../styles/utilities.module.css';
}

.toggle {
	display: inline-block;
	height: 14px;
	margin-left: var(--size-3);
	width: 14px;
}

@media screen and (min-width: 800px) {
	.toggle {
		margin-left: 0;
		margin-top: var(--size-3);
		transform: rotate(90deg);
	}
}
