.link {
	background: transparent;
	color: var(--color-primary-8);
	font-size: var(--font-size-2);
	font-weight: 300;
	text-transform: uppercase;
}

.link + .link {
	margin-top: var(--size-3);
}

@media screen and (min-width: 600px) {
	.mainNavigation {
		position: fixed;
		right: calc(((100vw - var(--size-15)) / 2) - var(--size-8));
		top: var(--size-10);
		writing-mode: vertical-lr;
	}
}
