// Elements
@import 'elements/elements.typography';

// Utilities.
@import 'utilities/utilities.visually-hidden';

.page__title {
	color: map-get($neutral, 7);
	font-size: $type-60;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

.page__excerpt {
	font-size: $type-24;
	font-weight: 600;
	line-height: 1.4;
	margin-top: $size-6;
}

.blog {
	list-style: none;
	margin: 0;
	margin-top: $size-8;
	padding: 0;
}

.blog__post {
	& + & {
		margin-top: $size-7;
	}
}
