.tableOfContents {
  background-color: var(--body-bg-color);
  bottom: 0;
  box-shadow: -1px 0 5px 0 var(--box-shadow-color);
  max-width: calc(100% - 40px);
  padding: var(--size-7) var(--size-6);
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  width: 400px;
  z-index: 1;
}

.tableOfContentsHeading {
  font-weight: 300;
  margin-bottom: var(--size-5);
  margin-top: 0;
}

.tocIsOpen {
  transform: translateX(0);
}

.tocButton {
  align-items: center;
  background-color: var(--button-bg-color);
  border-bottom-left-radius: 45%;
  border-top-left-radius: 45%;
  bottom: var(--size-5);
  color: var(--button-color);
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 100%;
  width: 40px;
}

.tocButton svg {
  transition: transform 0.3s ease-in-out;
}

.tocOpen .tocButton svg {
  transform: rotate(180deg);
}

.tocButtonText {
  composes: visuallyHidden from "../../styles/utilities.module.css";
}
