.tabs {
	margin-top: var(--size-6);
}

.tabsNavigation {
	border-bottom: 1px solid var(--color-neutral-2);
	line-height: 1;
	overflow-x: auto;
	white-space: nowrap;
}

.tabsNavigation::-webkit-scrollbar {
	width: 0;
}

.tabsButton {
	font-size: var(--font-size-2);
	font-weight: 300;
	padding: 0;
}

.tabsButton + .tabsButton {
	margin-left: var(--size-4);
}

.tabsButtonSelected {
	background: linear-gradient(
			to bottom,
			var(--color-primary-1) 50%,
			var(--color-primary-1) 50%
		)
		0 50% / 3px 0.5em repeat-x;
	composes: tabsButton;
}

.tabsPanel {
	margin-top: var(--size-5);
}

.jobTitle {
	font-weight: 300;
}

.locationDate {
	color: var(--color-neutral-6);
	display: inline-block;
	font-size: var(--font-size-1);
	font-weight: 300;
	margin-bottom: var(--size-2);
	margin-top: var(--size-2);
}

.separator {
	margin-left: var(--size-1);
	margin-right: var(--size-1);
}

@media screen and (min-width: 600px) {
	.tabsButton {
		font-size: var(--font-size-3);
	}

	.tabsButton + .tabsButton {
		margin-left: var(--size-6);
	}
}
