.articleTitle {
  font-weight: 300;
}

.articleTitle > * {
  background-color: transparent !important;
  font-size: inherit !important;
  padding: 0 !important;
}

.articleTimeToRead,
.articleSeparator {
  color: var(--timestamp-color);
  display: inline-block;
  font-size: var(--font-size-1);
  font-weight: 300;
  margin-bottom: var(--size-2);
  margin-top: var(--size-2);
}

.articleSeparator {
  margin-left: var(--size-1);
  margin-right: var(--size-1);
}
