.articleTitle {
	font-weight: 300;
}

.articleTitle > * {
	background-color: transparent !important;
	font-size: inherit !important;
	padding: 0 !important;
}

.articleCategory {
	color: var(--color-primary-8);
	display: block;
	font-size: var(--font-size-1);
	font-weight: 300;
	margin-bottom: var(--size-1);
	text-transform: uppercase;
}

.articleDate,
.articleTimeToRead,
.articleSeparator {
	color: var(--color-neutral-6);
	display: inline-block;
	font-size: var(--font-size-1);
	font-weight: 300;
	margin-bottom: var(--size-2);
	margin-top: var(--size-2);
}

.articleSeparator {
	margin-left: var(--size-1);
	margin-right: var(--size-1);
}
