.article__title {
	font-weight: 300;
}

.article__category {
	color: map-get($primary, 8);
	display: block;
	font-size: $type-12;
	font-weight: 300;
	margin-bottom: $size-1;
	text-transform: uppercase;
}

.article__date,
.article__time-to-read,
.article__separator {
	color: map-get($neutral, 6);
	display: inline-block;
	font-size: $type-12;
	font-weight: 300;
	margin-bottom: $size-2;
	margin-top: $size-2;
}

.article__separator {
	margin-left: $size-1;
	margin-right: $size-1;
}
