.postList {
  composes: listReset from "styles/utilities.module.css";
  font-size: var(--font-size-3);
  margin-top: var(--size-8);
}

.postListItem + .postListItem {
  margin-top: var(--size-7);
}

@media screen and (min-width: 600px) {
  .postList {
    font-size: var(--font-size-4);
  }
}
