@media screen and (min-width: 600px) {
	html {
		font-size: 112.5%; /* 18px */
	}
}

body {
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: var(--size-2);
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
	margin-top: var(--size-7);
}

p {
	margin-bottom: 0;
}

p + p {
	margin-top: var(--size-6);
}

p + ul,
p + ol {
	margin-top: var(--size-4);
}

a {
	background: linear-gradient(
			to bottom,
			var(--link-bg-color) 50%,
			var(--link-bg-color) 50%
		)
		0 0.75em / 3px 0.5em repeat-x;
	color: inherit;
	text-decoration: none;
	transition: var(--transition-background);
}

a:hover,
a:focus {
	background-position: 0 100%;
	background-size: 5px 100%;
}

li {
	margin-bottom: 0;
}

li + li,
li > ul,
li > ol {
	margin-top: var(--size-2);
}

code,
kbd,
pre,
samp,
tt,
var {
	background-color: var(--color-neutral-1) !important;
	border-radius: 3px;
	color: var(--header-color) !important;
	font-family: var(--font-family-monospace) !important;
	font-size: 18px;
	padding: 0 var(--size-1) !important;
	white-space: initial !important;
}

pre {
	background-color: var(--color-neutral-1) !important;
	border: 1px solid var(--color-neutral-3);
	margin-bottom: var(--size-6) !important;
	margin-top: var(--size-6) !important;
	overflow-x: scroll;
	padding: var(--size-4) !important;
}

pre code[class^='language-'] {
	white-space: pre !important;
}

blockquote {
	color: var(--header-color);
	margin: var(--size-7) var(--size-6);
	position: relative;
}

blockquote:before {
	color: var(--color-primary-1);
	content: '\0201C';
	font-size: var(--size-11);
	left: -35px;
	line-height: 1;
	position: absolute;
	top: -35px;
	z-index: -1;
}

cite {
	display: block;
	font-size: var(--font-size-1);
	margin-top: var(--size-3);
}

acronym[title] {
	text-decoration: none;
}

var {
	font-style: normal;
}

sub,
sup {
	font-size: var(--font-size-1);
}
