:root {
	--color-primary-10: #0c008c;
	--color-primary-9: #1d0ebe;
	--color-primary-8: #3525e6;
	--color-primary-7: #4d3df7;
	--color-primary-6: #5d55fa;
	--color-primary-5: #7069fa;
	--color-primary-4: #8888fc;
	--color-primary-3: #a2a5fc;
	--color-primary-2: #c4c6ff;
	--color-primary-1: #e6e6ff;

	--color-secondary-10: #014d40;
	--color-secondary-9: #0c6b58;
	--color-secondary-8: #147d64;
	--color-secondary-7: #199473;
	--color-secondary-6: #27ab83;
	--color-secondary-5: #3ebd93;
	--color-secondary-4: #65d6ad;
	--color-secondary-3: #8eedc7;
	--color-secondary-2: #c6f7e2;
	--color-secondary-1: #effcf6;

	--color-neutral-10: #102a43;
	--color-neutral-9: #243b53;
	--color-neutral-8: #334e68;
	--color-neutral-7: #486581;
	--color-neutral-6: #627d98;
	--color-neutral-5: #829ab1;
	--color-neutral-4: #9fb3c8;
	--color-neutral-3: #bcccdc;
	--color-neutral-2: #d9e2ec;
	--color-neutral-1: #f0f4f8;

	--color-info-10: #035388;
	--color-info-9: #0b69a3;
	--color-info-8: #127fbf;
	--color-info-7: #1992d4;
	--color-info-6: #2bb0ed;
	--color-info-5: #40c3f7;
	--color-info-4: #5ed0fa;
	--color-info-3: #81defd;
	--color-info-2: #b3ecff;
	--color-info-1: #e3f8ff;

	--color-warning-10: #8d2b0b;
	--color-warning-9: #b44d12;
	--color-warning-8: #cb6e17;
	--color-warning-7: #de911d;
	--color-warning-6: #f0b429;
	--color-warning-5: #f7c948;
	--color-warning-4: #fadb5f;
	--color-warning-3: #fce588;
	--color-warning-2: #fff3c4;
	--color-warning-1: #fffbea;

	--color-danger-10: #610316;
	--color-danger-9: #8a041a;
	--color-danger-8: #ab091e;
	--color-danger-7: #cf1124;
	--color-danger-6: #e12d39;
	--color-danger-5: #ef4e4e;
	--color-danger-4: #f86a6a;
	--color-danger-3: #ff9b9b;
	--color-danger-2: #ffbdbd;
	--color-danger-1: #ffe3e3;

	--font-size-1: 12px;
	--font-size-2: 14px;
	--font-size-3: 16px;
	--font-size-4: 18px;
	--font-size-5: 20px;
	--font-size-6: 24px;
	--font-size-7: 30px;
	--font-size-8: 36px;
	--font-size-9: 48px;
	--font-size-10: 60px;
	--font-size-11: 72px;

	--size-1: 4px;
	--size-2: 8px;
	--size-3: 12px;
	--size-4: 16px;
	--size-5: 24px;
	--size-6: 32px;
	--size-7: 48px;
	--size-8: 64px;
	--size-9: 96px;
	--size-10: 128px;
	--size-11: 192px;
	--size-12: 256px;
	--size-13: 384px;
	--size-14: 512px;
	--size-15: 640px;
	--size-16: 768px;

	--body-bg-color: #fff;
	--text-color: var(--color-neutral-8);

	--footer-color: var(--color-neutral-6);

	--heading-color: var(--color-neutral-9);
	--heading-color-alt: var(--color-neutral-6);

	--link: var(--color-primary-8);
	--link-bg-color: var(--color-primary-1);

	--blockquote-accent: var(--color-primary-1);

	--code-bg: var(--color-neutral-1);
	--pre-border-color: var(--color-neutral-3);

	--timestamp-color: var(--color-neutral-6);

	--pagination-color: var(--link);

	--font-family-body: 'Libre Franklin', sans-serif;
	--font-family-monospace: 'IBM Plex Mono', monospace;

	--transition-background: background 0.3s ease-in-out;
	--transition-transform: transform 0.3s ease;
	--transition-left: right 0.3s ease;

	--alcatraz-accordion-border: 1px solid var(--color-neutral-2);
	--alcatraz-accordion-border-radius: 4px;
}

.dark {
	--body-bg-color: var(--color-neutral-10);
	--text-color: var(--color-neutral-3);
	--heading-color: var(--color-neutral-3);
	--link: var(--color-primary-3);
	--link-bg-color: var(--color-primary-7);

	--footer-color: var(--color-neutral-5);

	--heading-color-alt: var(--color-neutral-4);

	--blockquote-accent: var(--color-primary-7);

	--code-bg: var(--color-neutral-9);
	--pre-border-color: var(--color-neutral-7);

	--timestamp-color: var(--color-neutral-5);
	--pagination-color: var(--link);

	/* Default */
	--alert-bg-default: var(--color-neutral-7); /* background-color */
	--alert-color-default: var(--color-neutral-1); /* text color */

	/* Info */
	--alert-bg-info: var(--color-info-9);
	--alert-color-info: var(--color-info-1);

	/* Tip / Success */
	--alert-bg-tip: var(--color-secondary-8);
	--alert-color-tip: var(--color-secondary-1);

	/* Warning */
	--alert-bg-warning: var(--color-warning-9);
	--alert-color-warning: var(--color-warning-1);

	/* Danger */
	--alert-bg-danger: var(--color-danger-9);
	--alert-color-danger: var(--color-danger-1);
}
