.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyHiddenFocusable {
	composes: visuallyHidden;
}

.visuallyHiddenFocusable:focus {
	border: auto;
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.listReset {
	list-style: none;
	margin: 0;
	padding: 0;
}
