.typography {
  margin-bottom: 0;
  margin-top: 0;
}

.title {
  color: var(--title-color, var(--color-default-500));
  font-family: var(--title-font-family, var(--font-family-body));
  font-size: var(--title-font-size, 36px);
  font-weight: var(--title-font-weight, 300);
  line-height: var(--title-line-height, 1.1);
  margin-bottom: var(--title-margin-bottom, 0);
  margin-top: var(--title-margin-top, 0);
}

.subtitle {
  color: var(--subtitle-color, var(--text-color));
  font-family: var(--subtitle-font-family, var(--font-family-body));
  font-size: var(--subtitle-font-size, 18px);
  font-weight: var(--subtitle-font-weight, 600);
  line-height: var(--subtitle-line-height, 1.4);
  margin-bottom: var(--subtitle-margin-bottom, 0);
  margin-top: var(--subtitle-margin-top, 0);
}

* + .subtitle {
  margin-top: 24px;
}

.body1 {
  color: var(--body1-color, var(--text-color));
  font-family: var(--body1-font-family, var(--font-family-body));
  font-size: var(--body1-font-size, var(--base-font-size));
  font-weight: var(--body1-font-weight, var(--base-font-weight));
  margin-bottom: var(--body1-margin-bottom, 0);
  margin-top: var(--body1-margin-top, 0);
}

.body2 {
  color: var(--body2-color, var(--text-color));
  font-family: var(--body2-font-family, var(--font-family-body));
  font-size: var(--body2-font-size, 14px);
  font-weight: var(--body2-font-weight, 500);
  line-height: var(--body2-line-height, 1.2);
  margin-bottom: var(--body2-margin-bottom, 4px);
  margin-top: var(--body2-margin-top, 0);
}

.overline {
  color: var(--overline-color, var(--text-color));
  font-family: var(--overline-font-family, var(--font-family-body));
  font-size: var(--overline-font-size, 12px);
  font-weight: var(--overline-font-weight, 300);
  margin-bottom: var(--overline-margin-bottom, 4px);
  margin-top: var(--overline-margin-top, 0);
  text-transform: var(--overline-text-transform, uppercase);
}

.finePrint {
  color: var(--fine-print-color, var(--text-color));
  font-family: var(--fine-print-font-family, var(--font-family-body));
  font-size: var(--fine-print-font-size, 12px);
  font-weight: var(--fine-print-font-weight, 300);
  margin-bottom: var(--fine-print-margin-bottom, 0);
  margin-top: var(--fine-print-margin-top, 0);
}

@media screen and (min-width: 600px) {
  .title {
    font-size: var(--title-font-size, 60px);
  }

  .subtitle {
    font-size: var(--subtitle-font-size, 20px);
  }
}
