.post__category {
	color: map-get($primary, 8);
	display: block;
	font-size: $type-14;
	font-weight: 300;
	margin-bottom: $size-1;
	text-transform: uppercase;
}

.post__title {
	color: map-get($neutral, 7);
	font-size: $type-60;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

.post__date {
	color: map-get($neutral, 6);
	display: inline-block;
	font-size: $type-14;
	font-weight: 300;
	margin-bottom: $size-6;
	margin-top: $size-6;
}

.post__excerpt {
	font-size: $type-24;
	font-weight: 600;
	line-height: 1.4;
	margin-top: $size-6;
}
