.drawer {
  --drawer-width: 400px;

  box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
  max-width: 100%;
  padding: 48px 32px;
  position: fixed;
  width: var(--drawer-width);
}

.left {
  bottom: 0;
  right: 0;
  top: 0;
  transform: translateX(var(--drawer-width));
  transition: transform 0.3s ease-in;
}

.open {
  transform: translateX(0);
}

.drawerNoScroll {
  overflow-y: hidden;
}

.button {
  position: absolute;
  right: 32px;
  top: 24px;
}
