.socialNav {
	color: #1d0ebe;
	display: inline-flex;
	list-style: none;
	margin: 24px 0 0;
	padding: 0;
}

.socialNav__item {
	height: 20px;
	width: 20px;
}

.socialNav__item + .socialNav__item {
	/* margin-top: 12px; */
	margin-left: 12px;
	margin-top: 0;
}

.socialNav__item a {
	background: none;
}

/* @media screen and (max-width: 749px) {
	.socialNav {
		display: inline-flex;
	}

	.socialNav__item + .socialNav__item {
		margin-left: 12px;
		margin-top: 0;
	}
} */

/* @media screen and (min-width: 750px) {
	.socialNav {
		left: calc(((100vw - 640px) / 2) - 32px);
		position: fixed;
		top: 50vh;
		transform: translateY(-50%);
	}
} */
