$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 24px;
$size-6: 32px;
$size-7: 48px;
$size-8: 64px;
$size-9: 96px;
$size-10: 128px;
$size-11: 192px;
$size-12: 256px;
$size-13: 384px;
$size-14: 512px;
$size-15: 640px;
$size-16: 768px;
