/* Core settings. */
:root {
  --base-font-size: 18px;
  --base-font-weight: 400;
  --base-spacing: 8px;

  --dark-text-color: #334e68;
  --light-text-color: #fff;

  --border-radius: 4px;

  --font-family-body: "Libre Franklin", sans-serif;
  --font-family-monospace: "IBM Plex Mono", monospace;

  --color-default-main: var(--dark-text-color);
  --color-default-contrast: var(--light-text-color);
  --color-default-light: #f0f4f8;
  --color-default-dark: #243b53;
  --color-default-50: #f0f4f8;
  --color-default-100: #d9e2ec;
  --color-default-200: #bcccdc;
  --color-default-300: #9fb3c8;
  --color-default-400: #829ab1;
  --color-default-500: #627d98;
  --color-default-600: #486581;
  --color-default-700: #334e68;
  --color-default-800: #243b53;
  --color-default-900: #102a43;

  --color-primary-main: #3525e6;
  --color-primary-contrast: var(--light-text-color);
  --color-primary-light: #e6e6ff;
  --color-primary-dark: #1d0ebe;
  --color-primary-50: #e6e6ff;
  --color-primary-100: #c4c6ff;
  --color-primary-200: #a2a5fc;
  --color-primary-300: #8888fc;
  --color-primary-400: #7069fa;
  --color-primary-500: #5d55fa;
  --color-primary-600: #4d3df7;
  --color-primary-700: #3525e6;
  --color-primary-800: #1d0ebe;
  --color-primary-900: #0c008c;

  --color-secondary-main: #27ab83;
  --color-secondary-contrast: var(--light-text-color);
  --color-secondary-light: #effcf6;
  --color-secondary-dark: #014d40;
  --color-secondary-50: #effcf6;
  --color-secondary-100: #c6f7e2;
  --color-secondary-200: #8eedc7;
  --color-secondary-300: #65d6ad;
  --color-secondary-400: #3ebd93;
  --color-secondary-500: #27ab83;
  --color-secondary-600: #199473;
  --color-secondary-700: #147d64;
  --color-secondary-800: #0c6b58;
  --color-secondary-900: #014d40;

  --color-info-main: #1992d4;
  --color-info-contrast: var(--light-text-color);
  --color-info-light: #e3f8ff;
  --color-info-dark: #035388;
  --color-info-50: #e3f8ff;
  --color-info-100: #b3ecff;
  --color-info-200: #81defd;
  --color-info-300: #5ed0fa;
  --color-info-400: #40c3f7;
  --color-info-500: #2bb0ed;
  --color-info-600: #1992d4;
  --color-info-700: #127fbf;
  --color-info-800: #0b69a3;
  --color-info-900: #035388;

  --color-error-main: #ab091e;
  --color-error-contrast: var(--light-text-color);
  --color-error-light: #ffe3e3;
  --color-error-dark: #610316;
  --color-error-50: #ffe3e3;
  --color-error-100: #ffbdbd;
  --color-error-200: #ff9b9b;
  --color-error-300: #f86a6a;
  --color-error-400: #ef4e4e;
  --color-error-500: #e12d39;
  --color-error-600: #cf1124;
  --color-error-700: #ab091e;
  --color-error-800: #8a041a;
  --color-error-900: #610316;

  --color-warning-main: #f7c948;
  --color-warning-contrast: var(--dark-text-color);
  --color-warning-light: #fffbea;
  --color-warning-dark: #8d2b0b;
  --color-warning-50: #fffbea;
  --color-warning-100: #fff3c4;
  --color-warning-200: #fce588;
  --color-warning-300: #fadb5f;
  --color-warning-400: #f7c948;
  --color-warning-500: #f0b429;
  --color-warning-600: #de911d;
  --color-warning-700: #cb6e17;
  --color-warning-800: #b44d12;
  --color-warning-900: #8d2b0b;

  --color-success-main: #27ab83;
  --color-success-contrast: var(--light-text-color);
  --color-success-light: #effcf6;
  --color-success-dark: #014d40;
  --color-success-50: #effcf6;
  --color-success-100: #c6f7e2;
  --color-success-200: #8eedc7;
  --color-success-300: #65d6ad;
  --color-success-400: #3ebd93;
  --color-success-500: #27ab83;
  --color-success-600: #199473;
  --color-success-700: #147d64;
  --color-success-800: #0c6b58;
  --color-success-900: #014d40;

  --z-index-tablist: 1;
  --z-index-tab-button: 2;

  /* Theme settings */
  --body-bg-color: #fff;
  --text-color: var(--dark-text-color);

  --heading-color: var(--color-default-800);

  --link: var(--color-primary-main);
  --link-bg-color: var(--color-primary-light);
  --link-code: var(--color-primary-main);

  --blockquote-accent: var(--color-primary-light);
}

/* Dark Mode theme settings */

@media (prefers-color-scheme: dark) {
  :root {
    --dark-text-color: var(--color-default-900);
    --light-text-color: var(--color-default-light);

    --body-bg-color: var(--color-default-dark);
    --text-color: var(--light-text-color);

    --heading-color: var(--color-default-200);

    --link: var(--color-primary-200);
    --link-bg-color: var(--color-primary-600);
    --link-code: var(--color-primary-200);

    --blockquote-accent: var(--color-primary-600);

    /* Button styles */
    --button-default-main: var(--color-default-700);
    --button-default-contrast: var(--dark-text-color);
    --button-default-hover: var(--color-default-light);

    --button-primary-main: var(--color-primary-200);
    --button-primary-contrast: var(--dark-text-color);
    --button-primary-hover: var(--color-primary-400);

    --button-secondary-main: var(--color-secondary-300);
    --button-secondary-contrast: var(--dark-text-color);
    --button-secondary-hover: var(--color-secondary-400);

    --button-error-main: var(--color-error-300);
    --button-error-contrast: var(--dark-text-color);
    --button-error-hover: var(--color-error-100);

    /* Typography styles */
    --title-color: var(--color-default-300);
  }

  /* Global Styles */
  * {
    box-sizing: border-box;
  }

  @media screen and (min-width: 600px) {
    html {
      font-size: 18px;
    }
  }

  body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: var(--font-family-body);
    line-height: 1.75;
    word-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 8px;
    margin-top: 0;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 48px;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  p + p {
    margin-top: 32px;
  }

  ol,
  ul {
    font-size: 14px;
  }

  ol ol,
  ul ul {
    margin-top: 8px;
  }

  ol ol {
    list-style: lower-alpha;
  }

  p + ul,
  p + ol {
    margin-top: 16px;
  }

  li {
    margin-bottom: 0;
  }

  li + li,
  li > ul,
  li > ol {
    margin-top: 8px;
  }

  ol ol ol {
    list-style: lower-roman;
  }

  @media screen and (min-width: 600px) {
    ol,
    ul {
      font-size: 16px;
    }
  }

  a {
    background: linear-gradient(
        to bottom,
        var(--link-bg-color) 50%,
        var(--link-bg-color) 50%
      )
      0 0.75em / 3px 0.5em repeat-x;
    color: inherit;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
  }

  a:hover,
  a:focus {
    background-position: 0 100%;
    background-size: 5px 100%;
  }

  a code {
    border-bottom: 2px solid var(--link-code);
  }

  blockquote {
    color: var(--heading-color);
    margin: 48px 32px;
    position: relative;
  }

  blockquote::before {
    color: var(--blockquote-accent);
    content: "\0201C";
    font-size: 72px;
    left: -35px;
    line-height: 1;
    position: absolute;
    top: -35px;
    z-index: -1;
  }

  cite {
    display: block;
    font-size: 12px;
    margin-top: 12px;
  }

  acronym[title] {
    text-decoration: none;
  }

  var {
    font-style: normal;
  }

  sub,
  sup {
    font-size: 12px;
  }

  img {
    margin-bottom: 24px;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--heading-color);
    display: inline-block;
  }
}
